extends layout
//- so you can run this shit.
//- in blocks and shit. i have no idea why
//- you'd want this. when you can just use react.
//- or typical js shit.
block content
  h1= title
  p Welcome to #{title}
  //- cool
  //- so this form is going to make a post request
  //- and that request body is going to contain one property
  //- named lead email.
  form(action="/", method="POST")
    input(name="lead_email" type="email", placeholder="Enter email")
    button(type="submit") Submit
