body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111;
  color: white;
}

a {
  color: #00B7FF;
}

.orange {
  color: orange;
}

/* button {
  padding: 10px;
  border: solid 1px grey;
} */
