mixin navbar()
  nav
    ul
      li.headlink
        a(href="/") home
      li.headlink
        a(href="/leads") leads
      li.headlink 
        a(href="/signup") signup
      li.headlink
        a(href="/login") login

      
